# JUST MAPPROXY, NO COUCHDB

version: '3.7'
volumes:
  cache:
      name: mapproxy_cache

networks:
  proxy_net:
    name: proxy_net
    external: true

#configs:
#  mapproxy_env:
#    file: ./mapproxy_env

services:
  mapproxy:
    image: wildsong/mapproxy:latest
    env_file: .env
    build:
      context: .
      dockerfile: Dockerfile.mapproxy
      args:
        - VIRTUAL_HOST=${VIRTUAL_HOST}
        - VIRTUAL_PORT=${VIRTUAL_PORT}
        - LETSENCRYPT_HOST=${VIRTUAL_HOST}
        - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}

    # I tried to create a CMD script (start_mapproxy.sh) to load the environment
    # from a swarm "config" or a volume in compose
    # but apparently that would not work
    # so far this is the only reliable way that works in both places

    volumes:
      - ./config:/srv/mapproxy/config:ro
      - cache:/srv/mapproxy/cache

    # This will be passed to start_mapproxy.py and
    # points to a folder, so mapproxy will start as a multiservice.
    command: ['/srv/mapproxy/config/services']
      
#    configs:
#      - mapproxy_env

    networks:
      proxy_net:
      
    # ArcGIS clients can't connect on HTTP. Portal
    # ALWAYS redirects to port 443, so you HAVE TO listen there (via proxy)
    # Even then SOMETIMES it gives errors and refuses to let you create new
    # connections.  The error is
    # "'https://giscache.co.clatsop.or.us/county-aerials/service?SERVICE=WMS&amp;REQUEST=GetCapabilities'
    # is not accessible: Error. PKIX path building failed:
    # sun.security.provider.certpath.SunCertPathBuilderException:
    # unable to find valid certification path to requested target."
    #
    # The ONLY workaround I have found when it's acting up is to use AGO-Assistant
    # to manually copy an existing service and then edit it.

    # For testing I want to be able to hit the server without any proxy, so, I do this
    ports:
      - "8888:8080"
    deploy:
      mode: global
      restart_policy:
        condition: on-failure
        delay: 5s
        window: 15s
#    healthcheck:
#      test: ["CMD", "curl", "-f", "https://localhost:8080/"]
#      interval: 10m
#      timeout: 10s
#      retries: 3
#      start_period: 40s

